<div class="row">
  <div class="col-xs-10">
    <!-- <app-shopping-edit (ingredientAdded)="onIngedientWasAdded($event)"></app-shopping-edit>   -->
    <app-shopping-edit></app-shopping-edit>  
    <hr>
    <button class="btn btn-info" (click)="onSaveIngredients()">Save Ingredients</button>
    <button class="btn btn-warning" (click)="onGetIngredients()">Get Ingredients</button>
    <hr>
    <ul class="list-group">
      <a 
      class="list-group-item" 
      style="cursor:pointer" 
      *ngFor="let ingredient of ingredients; let i=index" (click)="onStartEdit(i)">
        {{ingredient.name}}  ({{ingredient.amount}})
      </a>
    </ul>
  </div>
</div>